@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


nav{
    height: 20%;
}

a{
    font-family: 'Montserrat', Arial;
    font-weight: 400;
    margin: auto;
}

a:hover{
    font-weight: 600;
}

.div_btn{
    display: none;
}

@media (max-width: 1024px){
    .navbar-nav{
        display: none;
    }
    .div_btn{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        button{
            width: 160px;
            height: 65%;
            background-color: #03045E;
            border-radius: 50px;
        }
    }
}